.zz-resumeTitle {
  font-size: 4rem;
}
.zz-img-header {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.8rem solid fade-out($primary, 0.7);
}
.zz-heading-container,
.zz-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zz-separator {
  display: none;
}
@media (min-width: $size-lg) {
  .zz-heading-container, .zz-subheading {
    display: block;
  }
  .zz-img-header {
    display: none;
  }

  .zz-separator {
    display: inline-block;
  }
}
